.contact {
  padding: 50px 15px;
  background: #3498db !important;
  text-align: center;

  h2 {
    margin: 0 0 15px 0;
    color: #fff;
    font-weight: 500;
  }
}

.contactForm {
  max-width: 500px;
  margin: 0 auto;

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: #1d6fa5;
    color: #fff;
    transition: 0.5s ease all;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #fff;
  }

  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #fff;
    opacity: 1;
  }

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #fff;
    opacity: 1;
  }

  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #fff;
  }

  input:focus,
  textarea:focus {
    outline: none;
    background: #16527a;
  }

  textarea {
    height: 150px;
    resize: none;
  }

  button {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #3498db;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s ease all;
  }

  button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
