.projects {
  padding: 50px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;

  h2 {
    color: #374054;
    margin-bottom: 50px;
  }
}

.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
}

.projectImage {
  float: left;
  max-width: 300px;
  height: 300px;
  overflow: hidden;

  img {
    height: 100%;
    width: auto;
    transform: scale(1.15) rotate(4deg);
  }
}

.projectInfo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 300px;
  padding: 15px;

  h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    margin: 0 0 15px 0;
  }

  p {
    color: #74808a;
    margin: 0 0 15px 0;
    font-size: 0.9em;
  }

  a {
    i {
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
}

.projectLogos {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.projectLogoLink {
  margin: 10px;
}

.projectLogoImage {
  height: 30px;
  width: auto;
}

@media (max-width: 480px) {
  .projectLogos {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .projectImage {
    display: none;
  }
  .projectInfo {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    top: auto;
    transform: none;
  }
}
